html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: ghostwhite;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100%;
}

.navbar {
  text-align: center;
}
.nav {
  list-style: none;
  text-align: center;
  padding-top: 1rem;
}

.nav {
  display: flex;
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: ghostwhite;
  display: block;
  flex-wrap: nowrap;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}

.navLink-active {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fcae04;
  display: block;
  flex-wrap: nowrap;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}

.navbar a:hover {
  color: #ffc757;
}

.container {
  margin: 0 10rem 0 10rem;
  text-align: center;
}

#downloadLink:hover {
  color: #ffc757;
  cursor: pointer;
}

/* MOBILE NAV */

.mobileNav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: ghostwhite;
  z-index: 5;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.menu-icon {
  display: block;
  transition: transform 0.2s;
  cursor: pointer;
}

.menu {
  /* display: none; */
  position: absolute;
  top: 100%;
  width: 150px;
  border-radius: 20px;
  background-color: #1d1d29;
  border: 1px solid #20202e;
  box-shadow: 5px 5px 8px #10101d;
}

.menu.open {
  display: block;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuLink {
  display: block;
  color: ghostwhite;
  text-decoration: none;
}

.menuLink-active {
  color: #ffc757;
}

/*  HOME PAGE  */

.main-container {
  margin: 2em 10em 2em 12em;
  padding: 0 2em 0 2em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}


.hero-content {
  padding: 1em 0 2em 5em;
  opacity: 0.8;
  border-radius: 20px;
}

.bookImgContainer {
  margin: 0 5em 15em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bookCoverImg {
  width: 500px;
  height: 700px;
}

.cardTitle {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins';
}

.subtitle {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 30px;
  font-style: italic;
}

.book-back {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Baskerville Medium';
}

.hero-highlight {
  font-weight: 700;
  font-style: italic;
  font-family: 'Fira Sans Medium';
  color: #ffc757;
  font-size: 24px;
}

.download-link {
  font-size: 15px;
}

.artist-link {
  text-align: center;
  font-size: 15px;
  color: #ffc757;
}

.artist-link:hover {
  color: #fcae04;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.preview-btn {
  margin-top: 2em;
  border: 1px solid #ffc757;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  text-align: center;
  color: #ffc757;
}

/* CONTACT PAGE */

.contact-content {
  margin: 2em 0 5em 0;
  padding: 5em;
  opacity: 0.8;
  border-radius: 20px;
}

.formHeader {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #ffc757;
}

.form-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

label {
  display: block;
  padding-bottom: 2px;
}

.form-group input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 7px;
  color: #1e1e1e;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  border-radius: 5px;
  padding: 7px;
  color: #1e1e1e;
}

.contactBtn:hover {
  background-color: #fcae04;
}

.submit-message {
  text-align: center;
  font-weight: 600;
  padding-top: 2em;
}

/* Testimonials */

.testimonial-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-container h1 {
  font-size: 45px;
  font-weight: 700;
  color: #ffc757;
}
/* FOOTER */

.footerHead {
  font-size: 20px;
  font-weight: 700;
}

.footerContent {
  font-size: 16px;
}

#webLink {
  font-style: italic;
  color: #ffc757;
}

#webLink:hover {
  color: #6a6767;
}

/* Media */

.media-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 2em 0 2em 0;
  /* height: 100vh; */
}

.mediaBtn-container {
  margin-top: 15em;
}

.downloadBtn {
  border: 1px solid #fcae04;
  border-radius: 30px;
  width: 300px;
  height: 50px;
  text-align: center;
}

.downloadBtn:hover {
  background-color: #fcae04;
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    margin: 0em 1em 2em 1em;
    padding: 0 1em 0 1em;
    border-radius: 20px;
  }

  .book-content {
    background-color: #1a1a22;
    opacity: 0.8;
    text-align: center;
    padding: 2em 0 2em 0;
    margin-bottom: 2em;
  }

  .bookImgContainer {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bookCoverImg {
    width: 600px;
    height: 700px;
    margin-bottom: 1em;
  }

  .paragraph-container {
    text-align: center;
    margin: 2em 2em 2em 2em;
    font-size: 30px;
  }

  .book-back {
    font-size: 20px;
  }

  .book2-content-tablet {
    opacity: 0.8;
    text-align: center;
    padding: 2em 0 2em 0;
    margin-bottom: 5em;
  }

  .book2-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .book2-head {
    font-size: 35px;
  }

  .download-link {
    font-size: 20px;
  }

  .artist-link {
    font-size: 20px;
  }

  .preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 550px;
  }

  .contact-content {
    margin-bottom: 15em;
  }

  .testimonial-container {
    height: 80vh;
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .main-container {
    margin: 0em 1em 2em 1em;
    padding: 0 1em 0 1em;
    border-radius: 20px;
  }

  .preview-btn {
    margin: 0em 0em 2em 0em;
  }

  .artist-link {
    margin-bottom: 1em;
  }

  .download-link {
    margin: 0;
  }

  .contact-content {
    margin-bottom: 5em;
    padding: 2em;
  }

  .formHeader {
    font-size: 24px;
  }

  .form-field {
    grid-template-columns: 1fr;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
  }

  .book-content {
    background-color: #1a1a22;
    opacity: 0.8;
    text-align: center;
    padding: 2em 0 2em 0;
    margin-bottom: 5em;
  }

  .bookImgContainer {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bookCoverImg {
    width: 300px;
    height: 400px;
    margin-bottom: 1em;
    margin-left: 3em;
  }

  .paragraph-container {
    text-align: center;
    margin: 2em 2em 2em 2em;
  }

  .book-back {
    font-size: 20px;
  }

  .testimonial-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .testimonial-container h1 {
    font-size: 45px;
    font-weight: 700;
    color: #ffc757;
  }
}
